<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= manufacturer.name %></title>
</head>
<body>
	<h1><%= manufacturer.name %></h1>
	<div>
		<span><%= manufacturer.founded %></span>
		<span><%= manufacturer.owner %></span>
	</div>
	<button>
		<a href="/<%= manufacturer.name %>/add-car">Add a car</a>
	</button>
	<ul>
		<% cars.forEach(car => { %>
			<li>
				<a href="/<%= manufacturer.name %>/<%= car.id %>">
					<h2>Model: <%= car.model %></h2>
					<div>Price: € <%= car.price %></div>
					<div>Model year: <%= car.year %></div>
					<div>Mileage: <%= car.mileage %> km</div>
					<div>Engine: <%= car.engine %></div>
					<div>Horsepower: <%= car.hp %> hp</div>
				</a>
			</li>
			<button>
				<a href="/<%= manufacturer.name %>/<%= car.id %>/update">
					Update
				</a>
			</button>
			<button>
				<a href="/<%= manufacturer.name %>/<%= car.id %>/del">
					Delete 
				</a>
			</button>
		<% }) %>
	</ul>
</body>
</html>